<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>806179462818-3tldc03irtms1qkvefk2rii8tmg1gk2q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806179462818-3tldc03irtms1qkvefk2rii8tmg1gk2q</string>
	<key>API_KEY</key>
	<string>AIzaSyDk33wKE2XslwixhqPYXFSkdI5oVII3Ed0</string>
	<key>GCM_SENDER_ID</key>
	<string>806179462818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.psgr.roamServeUser</string>
	<key>PROJECT_ID</key>
	<string>roamserveuser</string>
	<key>STORAGE_BUCKET</key>
	<string>roamserveuser.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806179462818:ios:e58e1249e3998b70af01fb</string>
</dict>
</plist>